/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   font-weight: normal;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section{
   display: block;
 }
 ol, ul, li{
   list-style: none;
 }
 blockquote, q{
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after{
   content: '';
   content: none;
 }
 table{
   border-collapse: collapse;
   border-spacing: 0;
 }
  
 /* custom */
 a{
   color: #282627;
   text-decoration: none;
   -webkit-backface-visibility: hidden;
 }
 ::-webkit-scrollbar{
   width: 5px;
   height: 5px;
 }
 ::-webkit-scrollbar-track-piece{
   background-color: rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:vertical{
   height: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:horizontal{
   width: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 html, body{
   width: 100%;
   font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
   font-size: 12px;
 }
 body{
   line-height: 1;
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 html{
   overflow-y: scroll;
 }
  
 /*清除浮动*/
 .clearfix::after{
   content: " ";
   display: block;
   height: 0;
   clear: both;
 }
  
 /*隐藏*/
 .dn{
   display: none;
 }
 .wrapper{
   width:990px;
   margin:0 auto;
 }
 body {
  background: #f5f4f4;
}

 .header {
  height: 81px;
  background: #ebebeb;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.header img {
  width: 464px;
  margin-top: 7px;
}
/* 轮播图 */
.slide-box {
  height: 250px;
  overflow: hidden;
}

.quake-slider {
  width: 990px;
  height: 250px;
  overflow: hidden;
  border: none;
}
/* nav导航 */
.nav {
  height: 42px;
  line-height: 42px;
  background: #0e5299;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
}
.nav li {
  text-align: center;
  float: left;
  width: 123px;
  position: relative;
}
.nav li:not(.last)::after {
  content: "";
  width: 1px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  background: #fff;
}
.nav a {
  color: #fff;
  font-size: 14px;
}

/* common-list */
.common-list {
  width: 225px;
  margin-right: 20px;
  float: left;
}
.zizhi-list{
  width:202px;
  padding: 0 10px 0 20px;
  float:none;
}
.common-list-header {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #d8d8d8;
}
.common-list-txt {
  color: #565457;
  float: left;
  font-size: 14px;
  font-weight:500;
  width: 84px;
  text-align: center;
  border-bottom: 2px solid #0f5298;
}
.zizhi-list .common-list-txt {
  border-bottom: 2px solid #fbd552;
}
.common-list-more {
  float: right;
  margin-right: 5px;
  color: #34332f;
}
.common-list-more:hover {
  color: #183883;
}
.common-list-content{
  margin-top:5px;
}
.common-list-content li a{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(../images/left-icon-2.png) 4px center no-repeat;
  text-indent: 23px;
}
.zizhi-list .common-list-content li a{
  background: none;
  text-indent: 5px;
}
.common-list-content li a:hover{
  color: #FF7F00;
  text-decoration: underline;
}
/* 部门电话 */
.tel-box ul{
  margin:5px 0  10px 0;
}
.tel-box h2{
  height: 58px;
  background: url(../images/contract.png) right 0 no-repeat;
  /* background-size: 100%  58px; */
  line-height: 58px;
  font-size: 16px;
  text-indent: 20px;
  font-weight: 600;
}
.tel-box li{
  font-size: 12px;
  font-weight: 600;
  color: #34332f;
  padding: 8px 20px;
}
.tel-box li span{
  color:#FF7F00 ;
  font-weight: 800;
}



.footer{
  height: 70px;
  margin-top:10px;
  background: url(../images/bg.jpg) 0 0 ;
  text-align: center;
  color:#48453D;
  padding-top: 20px;
}
.footer p{
  line-height: 30px;
}